.datos_mods_responsive{
    position: relative;
    top:50px;
    width: 70%;
    margin: auto;
    
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.imagenes{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenes h1{
    text-align: center;
}

.row{
    width: 82%;
    height: 100%;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    
}
.column{
    flex: 50%;
    padding: 5px;
    
}
.column img{
    margin-top: 5px;
    width: 100%;
    border-radius: 10px;
    display: flex;
}

.video{
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-width: 200px;
    height: 100%;
    max-height: 720px;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.datos-mod{
    width: 100%;
    margin: auto;
}

.datos-mod h1{
    text-align: center;
    color: var(--text-sobre);
}
.titulo{
    width: 80%;
    margin: auto;
    background:var(--enfasis);
    background-size: cover;
    border-radius: 10px;
    color: var(--text);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
.descripcion-mod{
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descripcion-mod img{
    width: 40%;
    position: relative;
    margin: auto;
}


@media screen and (max-width: 480px){
    .column{
        flex: 100%;
    }
    .datos_mods_responsive{
        width: 90%;
    }
    .descripcion-mod img{
        width: 50%;
        
    }
    .descripcion-mod{
        font-size: 12px;
        text-align: justify;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .descripcion-mod h3{
        padding: 5px;
        text-align: left;
        font-size: 10px;

    }
    
    .titulo button{
        opacity: 0;
        visibility: hidden;
        
    }
    .titulo h1{
        width: 100%;
        font-size: 20px;
        
    }
    .video{
        width: 100%;
        height: 100%;
        min-height: 100px;
    }
}