.footer{
    
    left:0;
    bottom: 0;
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
    background-color: var(--enfasis_transparente);
    box-shadow: 0px 0px 10px 2px black;
    color: white;
    
}
.contenedor_footer{

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor_arriba_footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--enfasis_transparente);
}
.derecho{
    padding: 10px;
    
    
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-size: 30px;
    gap: 10px;
}
.derecho a{
    text-decoration: none;
    color: white;
}
.izquierdo{
    width: 80%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    gap: 5px;
    font-size: 13px;
}
.izquierdo img{
    width: 20%;
}
.contenedor_abajo_footer{
    width: 100%;
    background: var(--enfasis);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.centro{
    width: 100%;
    padding: 5px;

}
.centro p{
    font-size: 12px;
}
@media screen and (max-width: 1200px){
    .izquierdo{
        flex-direction: column;
    }
    .izquierdo img{
        width: 40%;
    }
}


@media screen and (max-width: 500px){
    .derecho{
        width: 30%;
        font-size: 1px;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .centro{
        width: 40%;
        font-size: 1px !important; 
        margin: 0;
    }
    .centro p{
        font-size: 8px;
    }
    .izquierdo{
        width: 30%;
        
        margin: 0;
        align-items: center;
    }
    .izquierdo img{
        
        width: 50%;
    }
    .contenedor_arriba_footer{
        display: flex;
    }
}